# ==============================
# Dependencies
# ==============================
node_modules/

# ==============================
# Angular build
# ==============================
dist/
.angular/
out-tsc/

# ==============================
# Testing / Coverage
# ==============================
coverage/
.nyc_output/

# ==============================
# IDE
# ==============================
.idea/
*.iml

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# ==============================
# Environment
# ==============================
.env
.env.*
!.env.example

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db